= form_for @tracker_entry do |f|
  = f.error_messages

  = f.collection_select :tracker_id, @trackers, :id, :to_s
  = f.text_field :value
  %br
  = f.date_select :logged_on
  
  %br
  = f.submit "Lähetä"