%ul#trackers_nav
  - @trackers.each do |tracker|
    %li= link_to tracker.to_s, :tracker_id => tracker.id

- if @entries.count > 0
  :javascript
    $(function() {
      // http://www.highcharts.com/ref/#lang
      Highcharts.setOptions({
      	lang: {
      		months: #{I18n.t("date.month_names").drop(1).inspect},
      		weekdays: #{I18n.t("date.day_names").inspect},
      		loading: "Ladataan..."
      		// todo: set decimalPoint and thousandsSep
      	}
      });
    
      new Highcharts.Chart({
        chart: {
          renderTo: "chart"
        },
        credits: {
          enabled: false
        },
        title: {
          text: "#{@tracker.to_s}"
        },
        xAxis: {
          type: "datetime"
        },
        yAxis: {
          title: {
            text: "#{@tracker.base_unit.abbreviate}"
          }
        },
        series: [{
          name: "#{@tracker.base_unit.abbreviate}",
          data: #{@data}
        }]
      });
    });
  
  #chart{ :style => "width: 560px; height: 300px;" }
- else
  %p Ei yht채채n pistett채 viel채.

#tracker_entries
  - @entries.each do |entry|
    %p
      %span.date= I18n.l(entry.logged_on, :format => :short) 
      = " " + entry.quantity.to_s
      = link_to "Poista", tracker_entry_path(entry, :tracker_id => entry.tracker), :method => :delete