%h2="Uusi yksikkö tuotteelle #{@product.name}"

= form_for [@product, @food_unit] do |f|
  = f.error_messages
  = error_messages_for @product

  = f.label "Uusi yksikkö"

  = f.collection_select :unit, unit_select_list(@product), :id, :abbreviate
  = f.text_field :unit, :autocomplete => "off"

  vastaa

  = f.text_field :parent_value, :autocomplete => "off"
  
  = f.collection_select :parent_unit, to_units(@product), :id, :abbreviate
  = f.submit "Lisaa"
  
= link_to 'Takaisin', @product