= form_for @entry do |f|
  = f.error_messages
  
  .field
    = f.label :energy
    = f.text_field :energy
    
  .field
    = f.number_field :hours, :min => 0, :max => 60
    \:
    = f.number_field :minutes, :min => 0, :max => 60
    \:
    = f.number_field :seconds, :min => 0, :max => 60
  
  = f.collection_select :exercise_id, Exercise.all, :id, :name, :promp => true
  
  = f.submit