= form_tag new_recipe_path, :url => "#", :method => "get", :id => 'products_search' do
  = text_field_tag :search, params[:search], :autocomplete => "off"

#products  
  = render 'products'

#add_ingredient_dialog

= form_for @recipe do |f|
  = f.error_messages

  %hr
  #ingredients
    - @recipe.ingredients.each do |ingredient|
      .ingredient
        %p= ingredient.product.name + "(" + ingredient.quantity.to_s + ingredient.unit_name + ")"
        = link_to "Poista", "/recipes/"+@recipe.id.to_s+"/remove_ingredient/"+ingredient.id.to_s, :class => "remove_ingredient", :method => :delete, :remote => true
  %hr
  
  .field
    = f.label :name, "Nimi"
    = f.text_field :name
  
  /.field
  /= f.label :servings_produced, "Montako annosta t채st채 syntyy?"
  /= f.text_field :servings_produced

  = f.label :serving_sizes, "Paljonko t채st채 syntyy?"
  = f.fields_for :serving_sizes do |ss|
    = ss.text_field :quantity
    = ss.collection_select :unit, Units::Common, :to_s, :unit_name
    = ss.text_field :custom_unit

  .actions
    = f.submit 'Tallenna'
