= form_for @recipe do |f|
  = f.error_messages

  .field
    = f.label :name, "Nimi"
    = f.text_field :name
  
  = f.label :units_produced, "Montako annosta tästä syntyy?"
  = f.text_field :units_produced

  = f.label :quantity, "Annoskoko"
  /= f.text_field :quantity
  = f.fields_for :serving_sizes do |ss|
    = ss.collection_select :unit_name, Units::Common, :to_s, :unit_name

  .actions
    = f.submit 'Lisaa'
