%h1 Reseptit

- @recipes.each do |recipe|
  .recipe
    = link_to recipe.name, recipe
    = link_to "Muokkaa", edit_recipe_path(recipe)
    = link_to_eat(recipe)
    - if user_signed_in?
      - if current_user.favorite?(recipe)
        = link_to_remove_from_favorites(recipe)
      - else
        = link_to_add_to_favorites(recipe)

%br
= will_paginate @recipes
%br
= link_to 'Lisää resepti', new_recipe_path