= form_for current_user, :url => update_settings_path, :method => :put do |f|
  .field
    = f.label :birthday
    = f.date_select :birthday
  .field
    = f.label :gender
    = f.label :gender, 'Mies', :value => true
    = f.radio_button :gender, true
    = f.label :gender, 'Nainen', :value => false
    = f.radio_button :gender, false
  .field
    = f.label :weight_unit_unit
    = f.label :weight_unit_unit, Units.kg.abbreviate, :value => Units.kg.id
    = f.radio_button :weight_unit_unit, Units.kg.id
    = f.label :weight_unit_unit, Units.lb.abbreviate, :value => Units.lb.id
    = f.radio_button :weight_unit_unit, Units.lb.id
  .field
    = f.label :energy_unit_unit
    = f.label :energy_unit_unit, Units.kcal.abbreviate, :value => Units.kcal.id
    = f.radio_button :energy_unit_unit, Units.kcal.id
    = f.label :energy_unit_unit, Units.kj.abbreviate, :value => Units.kj.id
    = f.radio_button :energy_unit_unit, Units.kj.id
  .field
    = f.label :length_unit_unit
    = f.label :length_unit_unit, Units.km.abbreviate, :value => Units.km.id
    = f.radio_button :length_unit_unit, Units.km.id
    = f.label :length_unit_unit, Units.mi.abbreviate, :value => Units.mi.id
    = f.radio_button :length_unit_unit, Units.mi.id
  %br
  = f.submit "Päivitä"