= form_for current_user, :url => update_settings_path, :method => :put do |f|
  .field
    = f.label :birthday
    = f.date_select :birthday
  .field
    = f.label :gender
    = f.label :gender, 'Mies', :value => true
    = f.radio_button :gender, true
    = f.label :gender, 'Nainen', :value => false
    = f.radio_button :gender, false
  .field
    = f.label :time_zone
    = f.time_zone_select :time_zone
  %br
  = f.submit "Päivitä"