/= "Kulutat #{@bmr.to_s(:format => :long, :digits => 0)} päivässä tekemättä mitään. Olet lisäksi polttanut liikunnan kautta #{@energy_burned.to_s(:format => :long, :digits => 0)}."

%br


  .overall
    %h4= "Yhteenveto päivästä #{I18n.l(@date, :format => :short)}"
    
    .net{:style => "margin-top: 1em;"}
      / != "<b>Nettotilanne</b>: #{@stats.energy.round.to_s} kcal (syöty) - #{@bmr.to_s(:digits => 0)} (ylläpito) - #{@energy_burned.to_s(:digits => 0)} (liikunta) = <b>#{(@stats.energy - @bmr.value - @energy_burned.value).round} kcal</b>"
      != "<b>Nettotilanne</b>: #{@stats.energy.round.to_s} kcal (syöty) - #{@energy_burned.to_s(:digits => 0)} (liikunta) = <b>#{(@stats.energy - @energy_burned.value).round} kcal</b> (Tavoite #{(@bmr + FoodScience::fat_to_energy(current_user.weight_change_rate_q / 7)).to_s(:digits => 0)})"

  - if @food_entries.entries_count.to_i > 0  
    %br
    = "Hiilihydraattia " + @stats.carbs.round(1).to_s + " g"
    %br
    = "Proteiinia " + @stats.protein.round(1).to_s + " g"
    %br
    = "Rasvaa " + @stats.fat.round(1).to_s + " g"

  %br
- if @food_entries.entries_count.to_i > 0
  :javascript
    $(function() {
      // http://www.highcharts.com/ref/#lang
      Highcharts.setOptions({
      	lang: {
      		months: #{I18n.t("date.month_names").drop(1).inspect},
      		weekdays: #{I18n.t("date.day_names").inspect},
      		loading: "Ladataan..."
      		// todo: set decimalPoint and thousandsSep
      	}
      });
    
      new Highcharts.Chart({
        chart: {
          renderTo: "energy_chart",
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        tooltip: {
           formatter: function() {
              return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
           }
        },
        plotOptions: {
          pie: {
            dataLabels: {
              enabled: true,
              distance: 15,
              formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
              }
            }
          }
        },
        credits: {
          enabled: false
        },
        title: {
          text: "Kokonaisenergian jakautuminen"
        },
        series: [{
          type: 'pie',
          name: "test",
          data: [
            ['Hiilihydraatti', #{percentage(@stats.carbs*4, @stats.energy_pcf)}],
            ['Proteiini', #{percentage(@stats.protein*4, @stats.energy_pcf)}],
            ['Rasva', #{percentage(@stats.fat*9, @stats.energy_pcf)}]
          ]
        }]
      });
    });
  
  #energy_chart{ :style => "width: 300px; height: 240px;" }
  
= link_to "Edellinen päivä", status_path(:date => @date.yesterday)
%br
= link_to_if @date < Date.current, "Seuraava päivä", status_path(:date => @date.tomorrow)