= form_for [@consumable, @food_entry], :remote => :true do |f|
  
  = f.error_messages

  .field
    = f.label "Kuinka paljon?"
    = f.text_field :value, :autocomplete => "off"

    = f.collection_select :unit, to_units(@consumable), :id, :abbreviate
  .field
    = f.label "Milloin?"
    = f.date_select :eaten_at
    
  - unless request.xhr?
    = f.submit "Lisää"