- @food_entries.each do |f|
  .food_entry
    = f.quantity + " #{f.consumable.name} (#{f.energy} kcal)"
    = link_to 'Poista', f, :confirm => 'Are you sure?', :method => :delete
    
= will_paginate @food_entries