%br

%h3= @time.strftime("%d.%m.%Y")

.date_nav
  = link_to_unless (@time.future?), "Edellinen päivä", :date => @time.yesterday.strftime("%d%m%Y")
  = link_to_unless (@time.today? || @time.future?), "Seuraava päivä", :date => @time.tomorrow.strftime("%d%m%Y")
  
- if @food_entries.length > 0
  .overall
    %h4  Yhteenveto päivästä
    = "Energiaa " + @stats.energy.round(1).to_s + " kcal"
    %br
    = "Hiilihydraattia " + @stats.carbs.round(1).to_s + " g"
    %br
    = "Proteiinia " + @stats.protein.round(1).to_s + " g"
    %br
    = "Rasvaa " + @stats.fat.round(1).to_s + " g"

  %h3 Syödyt

  .food_entries
    - @food_entries.each do |f|
      .food_entry
        = quantity_unit(f) + " #{f.consumable.name} (#{f.nutrition_data.energy.round(1)} kcal)"
        = link_to 'Poista', f, :method => :delete

  /= will_paginate @food_entries

- else
  %p Et ole syönyt vielä mitään tänään.
