%h1= "Uusi ruokalogi (#{@consumable.name})"

= form_for [@consumable, @food_entry] do |f|
  = f.error_messages

  = f.text_field :quantity

  = f.select :unit_proxy, @consumable.to_units
  
  = f.label "Kuinka paljon?"
  
  .field
    = f.text_field :eaten_at
    = f.label :eaten_at, "Milloin?"
  
  = f.submit "Lisää"
  
  
  
  