= "Sinun tämän hetkinen tavoitteesi on #{wordify_weight_change_rate(current_user.weight_change_rate_q)}."

%br
%br

= form_for current_user, :url => update_goals_path, :method => :put do |f|
  %p!= 'Aseta uusi tavoite.. Haluan ' + select_tag(:weight_goal, options_for_select({ "Laihduttaa" => "lose", "Säilyttää nykyisen painoni" => "keep", "Lisätä painoa" => "gain" }))
  
  #weight_change_rate
    = hidden_field_tag 'goal'
    = text_field_tag 'weight'
    kg
    = text_field_tag 'weeks'
    viikossa
  
  = f.submit "Päivitä"