= form_for @product do |f|
  -if @product.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  -#if !@serving_size.nil? && @serving_size.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@serving_size.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @serving_size.errors.full_messages.each do |msg|
          %li= msg
  -#if !@nutrition_data.nil? && @nutrition_data.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@nutrition_data.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @nutrition_data.errors.full_messages.each do |msg|
          %li= msg
  

  .field
    = f.label :name, "Nimi"
    = f.text_field :name
  
  -if @product.new?
    %fieldset
      %legend Ravintoarvot
      = f.fields_for :serving_sizes do |ss|
        = ss.label :quantity, "Maara"
        = ss.text_field :quantity
        
        = ss.collection_select :unit_name, Units::Common, :to_s, :unit_name
        
        =# ss.label :new_unit_name, "tai maarittele uusi yksikko"
        =# ss.text_field :new_unit_name

        %hr

        = ss.fields_for :nutrition_data do |nd|
          .field
            = nd.label :energy, "Energiaa"
            = nd.text_field :energy
            g
          .field
            = nd.label :protein, "Proteiinia"
            = nd.text_field :protein
            g
          .field
            = nd.label :carbs, "Hiilihydraatteja"
            = nd.text_field :carbs
            g
          .field
            = nd.label :fat, "Rasvaa"
            = nd.text_field :fat
            g
      
  .actions
    = f.submit 'Lisaa'
