= form_for @product do |f|
  /= f.error_messages
  = error_messages_for(@product, @product.serving_sizes.first, @product.serving_sizes.first.nutrition_data)
  / -if @product.errors.any?
  /   #errorExplanation
  /     %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
  /     %ul
  /       - @product.errors.full_messages.each do |msg|
  /         %li= msg
  / -if !@serving_size.nil? && @serving_size.errors.any?
  /   #errorExplanation
  /     %h2= "#{pluralize(@serving_size.errors.count, "error")} prohibited this product from being saved:"
  /     %ul
  /       - @serving_size.errors.full_messages.each do |msg|
  /         %li= msg
  / -if !@product.serving_sizes.first.nutrition_data.nil? && @product.serving_sizes.first.nutrition_data.errors.any?
  /   #errorExplanation
  /     %h2= "#{pluralize(@product.serving_sizes.first.nutrition_data.errors.count, "error")} prohibited this product from being saved:"
  /     %ul
  /       - @product.serving_sizes.first.nutrition_data.errors.full_messages.each do |msg|
  /         %li= msg
  

  .field
    = f.label :name, "Nimi"
    = f.text_field :name
  
  -if @product.new?
    %fieldset
      %legend Ravintoarvot
      = f.fields_for :serving_sizes do |ss|
        /= ss.error_messages
        = ss.label :quantity, "Määrä"
        = ss.text_field :quantity
        
        = ss.collection_select :unit, Units::Common, :to_s, :unit_name
        = ss.text_field :custom_unit

        %hr

        = ss.fields_for :nutrition_data do |nd|
          .field
            = nd.label :energy, "Energiaa"
            = nd.text_field :energy
            kcal
          .field
            = nd.label :protein, "Proteiinia"
            = nd.text_field :protein
            g
          .field
            = nd.label :carbs, "Hiilihydraatteja"
            = nd.text_field :carbs
            g
          .field
            = nd.label :fat, "Rasvaa"
            = nd.text_field :fat
            g
      
  .actions
    = f.submit 'Lisää'
