= link_to "Lisää tuote", new_product_path
|
= link_to "Suosikit", favorites_path
|
= link_to "Pikaruoka", fast_food_products_path
%br
%br

= form_tag products_path, :method => :get do
  = text_field_tag :search, params[:search], :autocomplete => "off"
  = submit_tag "Hae", :name => nil

= render :partial => "products"