%h2= @product.name

%p= link_to_eat(@product)


- unless @product.user.nil?
  %p= "Käyttäjän " + @product.user.username + " lisäämä"

%p= "Syöty #{@product.eaten_count.to_s} kertaa."
%p= @product.favorites_count.to_s + " ihmisellä on tämä suosikeissaan."


/= render :partial => "shared/serving_size", :collection => @product.serving_sizes

/ #serving_sizes
/   %ul
/     - @product.serving_sizes.each_with_index do |ss, i|
/       %li
/         %a{:href => "#tabs-#{i+1}"}= ss.unit_name(true)
/   - @product.serving_sizes.each_with_index do |ss, i|
/     %div{:id => "tabs-#{i+1}"}
/       hehee

%table
  %tr
    %th Yksikkö
    %th Energiaa (kcal)
    %th Hiilihydraattia (g)
    %th Proteiinia (g)
    %th Rasvaa (g)
  - @product.serving_sizes.each do |ss|
    != default_unit(ss)
%br
= link_to 'Lisää annoskoko', new_product_serving_size_path(@product)
%br

= link_to 'Muokkaa', edit_product_path(@product)
\|
= link_to 'Takaisin', products_path
