%p
  %b Name:
  = @product.name
  
  %p= link_to "Syo", new_product_food_entry_path(@product)

  = render :partial => "serving_size", :collection => @product.serving_sizes
      
= link_to 'Lisaa annoskoko', new_product_serving_size_path(@product)
%br

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path