%h2= @product.name

%p= @product.favorites_count.to_s + " ihmisellä on tämä suosikeissaan."
%p= link_to "Syö", new_product_food_entry_path(@product)

= render :partial => "shared/serving_size", :collection => @product.serving_sizes
      
= link_to 'Lisää annoskoko', new_product_serving_size_path(@product)
%br

= link_to 'Muokkaa', edit_product_path(@product)
\|
= link_to 'Takaisin', products_path