!!!
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:charset => 'utf-8'}

    %title
      = "Gr"
      
    = stylesheet_link_tag :all
    = stylesheet_link_tag "vendor/ui-lightness/jquery-ui.css"
    = javascript_include_tag :defaults
    = csrf_meta_tag 

  %body
    %p.notice= notice
    %p.alert= alert

    - if user_signed_in?
      = link_to 'Kirjaudu ulos', destroy_user_session_path
    - else
      = link_to 'Kirjaudu sisään', new_user_session_path
    |
    = link_to "Tuotteet", products_path
    |
    = link_to "Reseptit", recipes_path
    |
    = link_to "Suosikit", favorites_path
    |
    = link_to "Syöty", eaten_path
    
    <p>Huom! Käyttäkää desimaalierottimena pistettä eikä pilkkua!</p>
    
    = yield
